.menu li {
    float: right;
    position: relative;
  }
  .menu a {
    border: 1px solid silver;
    display: block;
    width: 100px;
    padding: 10px;
    text-align: center;
    background: #f8f8f8;
  }
  .menu li {
      margin-left: 3px;
  }
  .submenu li {
      margin-left: 0;
      margin-top: 3px;
  }
  .submenu {
    position: absolute;
    display: none;
    
  }
  .menu, .submenu {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .menu a:hover {
    background: grey;
    color: snow;
  }
  .menu li:hover .submenu {
    display: block;
  }
  
  